body{
    font-family: 'Heebo';
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-acc {
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

.container-acc button {
   display: inline-block;
    padding: 20px;
    width: 32%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 2px;
    cursor: pointer;
}
.container-acc button:hover{
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-acc i{
    font-size: 25px;
}

/* .button-card {
    display: inline-block;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
  }

  .button-card:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } */