.custom-common-container {
    background-color: #F6F6F2;
    border-bottom: 1px solid #e0e0e0;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-common-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.icon {
    margin-top: 0;
}

.navbar-nav .nav-link {
    font-size: 16px;
    color: #388087;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #52ab98;
}
.dropdown-menu-end{
    text-align: center;

}

.dropdown-menu {
    text-align: center;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 0;
}
.dropdown-menu ul{
    text-align: center;

}

.dropdown-menu a {
    color: #388087;
    transition: color 0.3s;
    text-decoration: none; 
}

.dropdown-menu a:hover {
    color: #52ab98;
    text-decoration: none; 
}

.tog {
    color: #52ab98;
}

#moon-icon,
#sun-icon {
    font-size: 20px; /* Change to your desired font size */
    color: #6FB3B8; /* Change to your desired color */
}

#sun-icon {
    display: none;
}

.dark-mode-switched #moon-icon {
    display: none;
}

.dark-mode-switched #sun-icon {
    display: inline-block;
}

.form-check-input[type="checkbox"]:checked {
    background-color: #48BF91; /* Change to your desired color */
    border-color: #48BF91; /* Change to your desired color */
}

.form-check-input[type="checkbox"]:not(:checked) {
    background-color: #ccc; /* Change to your desired color */
    border-color: #ccc; /* Change to your desired color */
}



@media (max-width: 767px) {
    .navbar-brand {
        margin-right: auto;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
        margin: 5px 0;
    }
}
