body{
    font-family: 'Albert Sans';
}

[data-bs-scheme="light"] {
    background-color: #ffffff;
}
[data-bs-scheme="dark"] {
    background-color: #272727;
}


/* Light Mode Styles */
.light .book-card {
    width: 70%;
    margin: 15%;
    text-align: center;
    border: 1px solid #388087;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.light .book-card .card-header {
    background-color: #C2EDCE;
    color: #0076BE;
    font-size: 22px;
    border: 1px solid #C2EDCE;
}

.light .book-card .card-body strong {
    color: #388087;
}

.light .space-container {
    background-color: #F6F6F2;
    border: 1px solid #F6F6F2;
}
.light .space-container .card-body{
    background-color: #F6F6F2;
    border: 1px solid #F6F6F2;
}

/* Dark Mode Styles */
.dark .book-card {
    width: 70%;
    margin: 15%;
    text-align: center;
    border: 1px solid #444444;
    background-color: #6FB3B8;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
}

.dark .book-card .card-header {
    background-color: #0076BE;
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
    border: 1px solid #0076BE;
}
.dark .book-card .card-body{
    background-color: #F6F6F2;
    border: #F6F6F2;
}

.dark .book-card .card-body strong {
    color: #48BF91;
}
.dark .book-card .card-body span {
    color: #0076BE;
}

.dark .space-container {
    background-color: #333333;
    border: 1px solid #333333;
}
.dark .space-container .card-body{
    border: 1px solid #333333;
}

.dark .whole-container{
    background-color: #444444;
}

.dark hr{
    color: whitesmoke;
}


