body{
    font-family: 'Heebo';
}

.booking-container{
    align-items: center;
    border-style: solid;
    border-color: #2b6777;
    border-radius: 16px;
}

.book-card{
    margin: 25%;
    width:50%;
    align-items: centre;
}

.book-card .card-body{
    text-align: center;
}

.star-rating {
    font-size: 24px; /* Adjust the font size as needed */
    cursor: pointer;
    user-select: none; /* Prevent cursor from changing into text selector */
}

.star {
    color: grey; /* Default star color */
    margin-right: 5px; /* Add some spacing between stars */
}

.gold-star {
    color: gold; /* Gold star color */
}