.custom-common-container{
    width:100%;
    height:10%;
}
.custom-common-header{
    margin-top: 2%;
    width:100%;
    height:100%;
    border-style: solid;
    border-radius: 16px;
    border-color: #c8d8e4;
    border-width: 1px;
}
.custom-common-header a{
    font-size: 18px;
    color: #2b6777;
}
.custom-common-header a:hover{
    color: #c8d8e4;
}

.custom-common-header p{
    margin-top: 40%;
    font-size: 28px;
    color: #52ab98;
}
.custom-common-header p:hover{
    color: #2b6777;
}
.icon{
    margin-top: 5%;
    height: 40px;
}
/* .btn-primary{
    background-color: #52ab98;
    border-color: #52ab98;
}
.btn-primary:hover{
    background-color: #2b6777;
}
.btn.active {
    background-color: #2b6777;
    color: #fff;
} */


.dropdown-menu {
    margin-top: 4%;
    text-align: left;
    width: auto; 
    background-color: #ffffff;
    border-color: #2b6777;
    border: 1px solid #ccc; 
    border-radius: 16px; 
    font-size: 14px;
    left: -100px;
}

.dropdown-menu li {
    list-style: none; 
    padding: 5px 0; 
}

.dropdown-menu li a {
    margin-left: 10%;
    color: #2b6777; 
    text-decoration: none;
}

.dropdown-menu li a:hover {
    color: #c8d8e4; 
    background-color: #2b6777;
    border-radius: 5px; 
    padding: 5px 10px; 
}
.dropdown-divider{
    color: #2b6777;
}

.tog{
    color:#2b6777;
    font-size: 12px;
}