body {
    font-family: 'Heebo';
}

.search-space {
    align-items: center;
}

.custom-dropdown {
    width: 40%;
}

.custom-dropdown .dropdown-menu {
    position: absolute;
    top: 100%; 
    left: 0;
    min-width: 100%;
}
.custom-dropdown label {
    width: max-content;
}

.custom-dropdown .btn-secondary {
    width: 100%;
    text-align: left;
}

.card-manage-card{
    align-items: center;
}

#map{
    height: 50vh;
    border-style: solid;
    border-color: black;
}